In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/Comma-separated values'
res = requests.get(url)

In [3]:
res

In [4]:
soup = BeautifulSoup(res.text, 'html.parser')
data = []

Wikitable = soup.find('table', attrs={'class': 'wikitable'})

tbody = Wikitable.find('tbody') 
trs = tbody.find_all('tr')  

for tr in trs:
    r = []
    for th in tr.find_all('th'):
        r.append(th.text)
        
    for td in tr.find_all('td'):  
        r.append(td.text)  
    
    data.append(r)


for r in data:
    print(','.join(r))

Year,Make,Model,Description,Price

1997,Ford,E350,ac, abs, moon,3000.00

1999,Chevy,Venture "Extended Edition",,4900.00

1999,Chevy,Venture "Extended Edition, Very Large",,5000.00

1996,Jeep,Grand Cherokee,MUST SELL!air, moon roof, loaded,4799.00

In [5]:
data

[['Year', 'Make', 'Model', 'Description', 'Price\n'],
 ['1997', 'Ford', 'E350', 'ac, abs, moon', '3000.00\n'],
 ['1999', 'Chevy', 'Venture "Extended Edition"', '', '4900.00\n'],
 ['1999', 'Chevy', 'Venture "Extended Edition, Very Large"', '', '5000.00\n'],
 ['1996',
  'Jeep',
  'Grand Cherokee',
  'MUST SELL!air, moon roof, loaded',
  '4799.00\n']]

In [7]:
import pandas as pd

In [11]:
df = pd.DataFrame(data)

In [12]:
df

,0,1,2,3,4
0,Year,Make,Model,Description,Price\n
1,1997,Ford,E350,"ac, abs, moon",3000.00\n
2,1999,Chevy,"Venture ""Extended Edition""",,4900.00\n
3,1999,Chevy,"Venture ""Extended Edition, Very Large""",,5000.00\n
4,1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.00\n

In [13]:
df.to_csv('python_csv', index=False)